<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geolo.demo.launch">

    <application
        android:name="com.geolo.demo.launch.GeoloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.geolo.demo.launch.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.geolo.demo.launch.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter android:icon="@mipmap/ic_launcher">
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="com.commsource.beautyplus.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service android:name="com.geolo.demo.launch.service.LaunchService" />
    </application>

</manifest>